#timeChart > * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    text-transform: capitalize !important;
    font-weight: 100 !important;
}

.sv-root-modern .sv-progress__text {
    display: none
}

.sv-question__title--answer {
    background-color: transparent !important;
}

.sv-imagepicker__item--allowhover:hover .sv-imagepicker__image {
    background-color: transparent !important;
    border-color: transparent !important;
}

.sv-imagepicker__image {
    height: unset !important;
    width: 100%;
}

.sv-imagepicker__label:hover {
    background: #9d9d9d !important;
}

.sv-body__progress {
    margin-bottom: 1rem;
}

.sv-root-modern .sv-footer__next-btn {
    padding: 16px;
    background-color: transparent !important;
    color: transparent !important;
    background-image: url("../svg/button-arrow.svg");
    background-repeat: no-repeat;
    margin-right: 1px;
}

.sv-root-modern .sv-footer__prev-btn {
    padding: 16px;
    width: auto;
    transform: rotate(180deg);
    background-color: transparent !important;
    color: transparent !important;
    margin-left: 15px;
    background-position: right 0 top;
    background-image: url("../svg/button-arrow.svg");
    background-repeat: no-repeat;
}

.sv-imagepicker__item--checked .sv-imagepicker__image {
    background-color: unset !important;
    border: unset !important;
}

.sv-row {
    padding-bottom: 0 !important;
}

.sv-question__title--error {
    background-color: unset !important;
}


.sv-imagepicker__item {
    border: none;
    padding: .1em
}

h3 {
    margin: 5px 0;
}

.sv-progress {
    height: .6em;
    margin-bottom: 0;
    border-radius: 20px;
}

.sv-progress__bar {
    border-radius: inherit;
}

.noUi-handle {
    border: 1px solid #1ab394;
    background: #1ab394;
    padding: 20px;
    border-radius: 40px;
    cursor: default;
    box-shadow: unset;
}

.noUi-target {
    background: #E5E5E5;
    border-radius: 40px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}


.noUi-handle::after, .noUi-handle::before {
    display: none;
}

.noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    left: -17px;
    top: -12px;
}

#slider {
    margin: 9px;
}


.image {
    margin-top: 40px;
    width: 70%;
}

.summary-image {
    margin-top: 40px;
    width: 50%;
}

.border-left-bottom-right {
    /*border-left: #cecece 1px solid;*/
    /*border-right: #cecece 1px solid;*/
    /*border-bottom: #cecece 1px solid;*/
}

.border-bottom {
    /*border-bottom: #cecece 1px solid;*/
}

.sv-container-modern__title h3 {
    color: #1CB393;
}

.uk-accordion-title::before {
    background-image: url("../svg/arrow-right-circle.svg");
}

.uk-open > .uk-accordion-title::before {
    transform: rotate(90deg);
    background-image: url("../svg/arrow-right-circle.svg");
}

.ui-slider-pips .ui-slider-label {
    width: 6em;
}

.slider {
    width: 70%;
}

.sv-title {
    font-family: unset;
    font-weight: unset;;
}


.copy-link {
    padding-left: 30px;
    padding-right: 30px;
}

.share-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.share-dialog {
    display: none;
    width: 95%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
    z-index: -1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.share-dialog.is-open {
    display: block;
    z-index: 2;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.targets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.close-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.close-button svg {
    margin-right: 0;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
}

.pen-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
